@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0B0F14;
  font-family: 'Space Grotesk', ui-sans-serif, system-ui;
  color: #f9fafb;
  min-height: 100vh;
}
